.project-list {
  min-width: 300px;
  background-color: #252525;
  padding: 10px 10px 0px 10px;
  z-index: 5;
}

.create-project-btn {
  background-color: #334433;
  color: #ccc;
}

.create-project-btn:hover, 
.create-project-btn:active,
.create-project-btn:focus {
  background-color: #334933 !important;
  color: #ddd;
}

.check-invites-btn {
  background-color: #333349;
  color: #ccc;
}

.check-invites-btn:hover,
.check-invites-btn:active,
.check-invites-btn:focus {
  background-color: #333349 !important;
  color: #ddd;
}

.search-projects-btn {
  background-color: #493333;
  color: #ccc;
}

.search-projects-btn:hover,
.search-projects-btn:active,
.search-projects-btn:focus {
  background-color: #493333 !important;
  color: #ddd;
}


.project-list-divider {
  background-color: #333;
  margin: 15px 0px !important;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.project-instance {
  height: 70px;
  padding: 9px;
  margin-bottom: 10px;
  background-color: #2e2e2e;
  border-radius: 2px;
  overflow: hidden;
}

.project-instance-title {
  font-size: 16px;
  height: 22px;
  min-width: 160px;
}

.project-instance-menu {
  justify-content: space-between;
  height: 22px;
  min-width: 80px;
  width: 80px;
}

.instance-item-public-menu {
  justify-content: flex-start;
}
