#project-list {
  width: 500px; 
  background-color: #252525; 
  padding: 10px 10px 0px 10px; 
  z-index: 5;
}

#create-project-btn {
  background-color: #334433; 
  color: #CCC;
}

#project-list-divider {
  background-color: #333; 
  margin: 10px 0px;
}

.project-instance {
  height: 70px;
  padding: 9px; 
  margin-bottom: 10px;
  background-color: #2E2E2E;
  border-radius: 2px;
  overflow: hidden;
}

.project-instance-title {
  font-size: 16px;
  height: 22px;
  min-width: 160px;
}

.project-instance-menu {
  justify-content: space-between; 
  height: 22px;
  min-width: 80px;
  width: 80px;
}

