.file-tree {
  width: 300px;
  background-color: #252525;
  z-index: 5;
}

.file-tree-actions {
  width: 100%;
}

.file-tabs-container {
  align-items: center;
  height: 35px;
  min-height: 35px;
  background-color: #202020;
}

.file-tab {
  cursor: pointer;
  font-size: 12px;
  min-width: 140px;
  color: #919191;
  border-top: 1px solid #202020;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0px 10px;
}

.file-tab:hover {
  color: #bbb;
}

.file-tab-actual {
  color: #4179a8;
  border-top: 2px solid #4179a8;
}

.file-tab-actual:hover {
  color: #4179a8;
}

.file-tab-close {
  opacity: 1;
  margin-left: 10px;
  color: #919191 !important;
}
