#login {
  align-items: center;
  width: 340px;
  height: 400px;
  background-color: #2a2a2a;
  padding: 20px 0px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#register {
  align-items: center;
  width: 340px;
  height: 540px;
  background-color: #2a2a2a;
  padding: 20px 0px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
