.home-login {
  align-items: center;
  width: 340px;
  padding: 20px 0px;
  margin-bottom: 60px;
  background-color: #2a2a2a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.home-login > div {
  margin-bottom: 25px;
}

.home-login > div:last-child {
  margin-bottom: 0;
}

.home-register {
  align-items: center;
  width: 340px;
  padding: 20px 0px;
  margin-bottom: 60px;
  background-color: #2a2a2a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
