#terminal-list {
  width: 500px;
  min-width: 300px;
  background-color: #252525;
  padding: 10px 10px 0px 10px;
  z-index: 5;
}

#create-terminal-btn {
  background-color: #333344;
  color: #ccc;
}

#terminal-list-divider {
  background-color: #333;
  margin: 10px 0px;
}

.terminal-instance {
  height: 70px;
  padding: 9px;
  margin-bottom: 10px;
  background-color: #2e2e2e;
  border-radius: 2px;
  overflow: hidden;
}

.terminal-instance-title {
  font-size: 16px;
  height: 22px;
  min-width: 160px;
}

.terminal-instance-menu {
  justify-content: space-between;
  height: 22px;
  min-width: 75px;
  width: 75px;
}

.terminal-instance-msg {
  font-size: 14px;
  height: 22px;
  cursor: default;
}

#terminal-screen {
  background-color: #2a2a31;
  width: 800px;
  height: 600px;
}

#terminal-header {
  align-items: center;
  justify-content: space-between;
  height: 30px;
  background-color: #2e2e2e;
  padding: 1px;
  border-top: 5px solid #2e2e2e;
}

#terminal-stack {
  padding: 10px;
  border: 5px solid #2e2e2e;
  cursor: text;
}

#terminal-controller {
  align-items: center;
}

#terminal-input {
  width: 80%;
  padding: 0px;
  margin: 0px;
  background-color: inherit;
  color: #ccc;
  border: none;
  outline: none;
}
