@import "~rsuite/styles/less/index.less";

@icon-font-path: "./fonts";
@border-radius-base: 2px;

@base-color: #4179a8;
@text-color: #ccc;
@tooltip-bg: #333;

@divider-border-color: #333;

@info-color: #87b3d3;
@info-light-color: #4a6b88;
@success-color: #7e926d;
@success-light-color: #48533e;
@warning-color: #d3bc71;
@warning-light-color: #836a2e;
@error-color: #ce6b6b;
@error-light-color: #852821;

@input-bg: #3a3a3a;
@input-color: #ccc;
@input-border: #333;
@input-bg-disabled: #292929;
@input-group-addon-bg: #333;

@checkbox-default-border-color: #333;
@checkbox-checked-border-color: @border-primary-color;
@checkbox-disabled-color: #292929;
@checkbox-bg: #3a3a3a;

@toggle-default-bg: #3a3a3a;
@toggle-default-hover-bg: #3a3a3a;
@toggle-checked-bg: #2e5678;
@toggle-checked-hover-bg: #2e5678;
@toggle-md-handle-bg: #ccc;

@nav-item-default-hover-bg: inherit;
@nav-item-hover-font-color: #eee;
@nav-item-click-bg: inherit;
@nav-item-click-font-color: #eee;

@btn-subtle-hover-color: #eee;
@btn-subtle-default-hover-color: #eee;
@btn-subtle-hover-bg: inherit;
@btn-subtle-active-default-color: #eee;
@btn-subtle-active-default-bg: inherit;

@dropdown-bg: #2a2a2a;
@dropdown-divider-bg: #333;
@dropdown-link-color: #b1b1b1;
@dropdown-link-hover-color: #eee;
@dropdown-link-hover-bg: #343434;

@modal-body-margin: 10px;
@modal-title-color: #b1b1b1;
@modal-content-bg: #2a2a2a;
@modal-header-border-color: #e5e5e5;
@modal-close-btn-color: #b1b1b1;
@drawer-backdrop-opacity: 0.5;

@drawer-content-bg: #2a2a2a;
@drawer-title-color: #b1b1b1;
@drawer-close-btn-color: #b1b1b1;
@drawer-horizontal-xs: 455px;
@drawer-backdrop-opacity: 0.5;

html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
  background-color: #202020;
  margin: 0;
}

h1 {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

button:link {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

button:visited {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

button:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

button:active {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

button:active {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

button:focus {
  outline: none;
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

#brand {
  min-width: 60px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#header {
  justify-content: space-between;
  height: 40px;
  padding: 0px 15px;
  background-color: #2b2b2b;
  color: #b1b1b1;
  border-bottom: 5px solid #303030;
}

#footer {
  justify-content: flex-end;
  height: 25px;
  font-size: 12px;
  padding: 0px 5px;
  background-color: #2b2b2b;
  color: #b1b1b1;
  border-top: 5px solid #303030;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: inherit;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

.full {
  width: 100%;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
}

.center-alt {
  align-items: baseline;
  justify-content: space-between;
}

.scrollable-parent {
  position: relative;
}

.scrollable-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.link {
  color: #4179a8;
}

.link:hover {
  color: #4179a8;
  text-decoration: underline;
}

.instance-item {
  border: 1px solid #2e2e2e;
  -webkit-transition: 0.5s all;
  -webkit-transition-delay: 0.1s;
  -moz-transition: 0.5s all;
  -moz-transition-delay: 0.1s;
  -ms-transition: 0.5s all;
  -ms-transition-delay: 0.1s;
  -o-transition: 0.5s all;
  -o-transition-delay: 0.1s;
  transition: 0.5s all;
  transition-delay: 0.1s;
}

.instance-item:hover {
  border: 1px solid #4179a8;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.highlight {
  -webkit-transition: 0.3s all;
  -webkit-transition-delay: 0.1s;
  -moz-transition: 0.3s all;
  -moz-transition-delay: 0.1s;
  -ms-transition: 0.3s all;
  -ms-transition-delay: 0.1s;
  -o-transition: 0.3s all;
  -o-transition-delay: 0.1s;
  transition: 0.3s all;
  transition-delay: 0.1s;
}

.highlight:hover {
  color: #fff;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

@import "../channels/styles.less";
@import "../dashboard/styles.less";
@import "../home/styles.less";
@import "../terminals/styles.less";
@import "../workspace/styles.less";
