@import '~rsuite/styles/less/index.less';

@icon-font-path: './fonts';
@border-radius-base: 2px;

@base-color: #4179a8;
@text-color: #CCC;
@tooltip-bg: #333;

@divider-border-color: #333;

@info-color: #87b3d3;
@info-light-color: #4a6b88;
@success-color:  #7e926d;
@success-light-color: #48533e;
@warning-color: #d3bc71;
@warning-light-color: #836a2e;
@error-color: #ce6b6b;
@error-light-color: #852821;

@input-bg: #3A3A3A;
@input-color: #CCC;
@input-border: #333;
@input-bg-disabled: #292929;
@input-group-addon-bg: #333;

@checkbox-default-border-color: #333;
@checkbox-checked-border-color: @border-primary-color;
@checkbox-disabled-color: #292929;
@checkbox-bg: #3A3A3A;

@toggle-default-bg: #3A3A3A;
@toggle-default-hover-bg: #3A3A3A;
@toggle-checked-bg: #2e5678;
@toggle-checked-hover-bg: #2e5678;
@toggle-md-handle-bg: #CCC;

@nav-item-default-hover-bg: inherit;
@nav-item-hover-font-color: #EEE;
@nav-item-click-bg: inherit;
@nav-item-click-font-color: #EEE;

@btn-subtle-hover-color: #EEE;
@btn-subtle-default-hover-color: #EEE;
@btn-subtle-hover-bg: inherit;
@btn-subtle-active-default-color: #EEE;
@btn-subtle-active-default-bg: inherit;

@dropdown-bg: #2A2A2A;
@dropdown-divider-bg: #333;
@dropdown-link-color: #B1B1B1;
@dropdown-link-hover-color: #EEE;
@dropdown-link-hover-bg: #343434;

@modal-body-margin: 10px;
@modal-title-color: #B1B1B1;
@modal-content-bg: #2A2A2A;
@modal-header-border-color: #e5e5e5;
@modal-close-btn-color: #B1B1B1;
@drawer-backdrop-opacity: 0.5;

@drawer-content-bg: #2A2A2A;
@drawer-title-color: #B1B1B1;
@drawer-close-btn-color: #B1B1B1;
@drawer-horizontal-xs: 455px;
@drawer-backdrop-opacity: 0.5;

html {
  min-height: 100%;
  position: relative;
}

body {
  height:100%;
  background-color: #202020;
  margin: 0;
}

h1 {
  display: inline;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

a {
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

a:link {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit;
}

a:hover {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit; 
}

a:active {
  color: inherit;
  background-color: inherit;
  text-decoration: inherit; 
}

#app {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: inherit; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #AAA; 
}

.full {
  width: 100%;
  height: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.center {
  align-items: center;
  justify-content: center;
}

.center-alt {
  align-items: baseline;
  justify-content: space-between;
}

.scrollable-parent {
  position: relative;
}

.scrollable-child {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.link {
  color: #4179a8;
}

.link:hover {
  color: #4179a8;
  text-decoration: underline; 
}

.instance-item {
  border: 1px solid #2E2E2E;
  -webkit-transition: .5s all;   
  -webkit-transition-delay: 0.1s; 
  -moz-transition: .5s all;   
  -moz-transition-delay: 0.1s; 
  -ms-transition: .5s all;   
  -ms-transition-delay: 0.1s; 
  -o-transition: .5s all;   
  -o-transition-delay: 0.1s; 
  transition: .5s all;   
  transition-delay: 0.1s; 
}

.instance-item:hover {
  border: 1px solid #4179a8;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.highlight {
  -webkit-transition: .3s all;   
  -webkit-transition-delay: 0.1s; 
  -moz-transition: .3s all;   
  -moz-transition-delay: 0.1s; 
  -ms-transition: .3s all;   
  -ms-transition-delay: 0.1s; 
  -o-transition: .3s all;   
  -o-transition-delay: 0.1s; 
  transition: .3s all;   
  transition-delay: 0.1s; 
}

.highlight:hover {
  color: #FFF;
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

@import '../channels/styles.less';
@import '../dashboard/styles.less';
@import '../home/styles.less';
@import '../terminals/styles.less';
@import '../workspace/styles.less';
